<div class="large-offset-4">
  <a href="/" class="button">Home</a>
  <a href="/logout" class="alert button">Deconnexion</a>
</div>
<div class="large-4 large-offset-4">
  <%= form_tag "/gist/add", method: "post" do %>
      <label for="name">Nom du gist :</label>
      <input type="text" name="name" id="name" placeholder="ex. Index.php">
      <label for="id_gist">Id du gist :</label>
      <h5><small>https://gist.github.com/username/<span style="color: #5f5f5fg">6b99b9cceba1082f8b18</span></small></h5>
      <input type="text" name="id_gist" id="id_gist" placeholder="ex. 6b99b9cceba1082f8b18">
      <div class="row">
        <div class="small-3 columns">
          <label for="category" class="text-right middle">Categories :</label>
        </div>
        <div class="small-5">
          <select name="category" id="category">
            <% @categories.each do |category| %>
                <option value="<%= category.id%>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <input type="submit" class="button">
  <% end %>
</div>